.shape{
    width: 500px;
   filter: drop-shadow(0 0 4px #0F62FE);
}
.me{
    position: absolute;
    left:120px;
    top: -20px;
    width: 400px;
    border-radius: 100%;

}
.image{
    padding: 80px;
}

.home-inner{
    position: relative;
    width: 500px;
    
   
    
}
.home-banner{
   display: flex;
   flex-direction: row;
   
    background-color: rgb(255, 250, 250);

}
.message{
   
    text-align: center;
    height: 500px;
    display: flex;
    align-items: center;
    
}
.message h1{
    font-family:'Comic Sans MS', 'Comic Neue', cursive, sans-serif ;
}

@media screen and (max-width: 768px) {
  .shape{
    width: 300px;
   filter: drop-shadow(0 0 4px #0F62FE);
   margin-top: 70px;
}
.me{
    position: absolute;
    left:40px;
    top: -10px;
    width: 250px;
    border-radius: 100%;

}
.message{
    font-size: 10px;
    
}
.image{
    padding: 0px;
}
}



